* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #444;
}

div {
    box-shadow: 0 4px 8px 0;
    transition: 0.3s;
    border-radius: 5px;
    border: 1px black solid;
    margin: 20px 0 20px 0;
    padding: 2px 16px;
    background-color: white;
    height: 300px;
}

footer {
    text-align: center;
}

header {
    padding: 15px;
}

header, footer {
    background-color: #aaa;
}

img {
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    background-color: #ddd;
    flex-wrap: wrap;
    justify-content: space-evenly;
}




