* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

h1, footer {
    padding: 1% 0;
    background-color: #aaa;
    margin-top: 0;
    margin-bottom: 0;
}

section {
    padding: 30px 15px;
}

p {
    margin: 0 auto;
    max-width: 650px;
}

.purpose {
    background-color: #bbb;
}

.how-to {
    background-color: #ddd;
}
